@import url('https://fonts.googleapis.com/css2?family=Chango&family=Rubik+Distressed&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
  color: #4bf5b9;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #002046;
  background-image: url('./assets/images/globe.gif');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}

.main {
  background-image: url('../assets/image/globe.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 0 auto;
  padding: 10px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
}

.header__title {
  padding-left: 5px;
  font-size: 3em;
  color: #FF8900;

}

.header__links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  color: #4bf5b9;
}

.header__link {
  display: block;
  width: fit-content;
  padding: 0 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  color: #4bf5b9;
  line-height: 50px;
  transition: 0.3s;
}

.header__link:hover {
  color: #00ca2c;
  background: #004585;
  filter: brightness(150%) drop-shadow(0px 0px 5px #00ca2c);
}

.main__title {
  width: 70%;
  animation: bg 8s ease-in-out infinite alternate; 
  background: 
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
  linear-gradient(45deg, #e7eb06 30%, #e07b07 40%, #cf11b6 50%, #ff104c 80%, #944301 100%);
  /* linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%); */
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-position: top;
  background-color: #840b2a;
  color: transparent;
  font-size: 130px;
  font-family: 'Rubik Distressed', cursive;
  text-transform: uppercase;
  text-align: center;
  -webkit-background-clip: text;
}

@keyframes bg {
 0% {
   background-position: top, left, right;
 }	
 100% {
    background-position: bottom, right, bottom ;
 }
}

.main__button {
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 1.5em;
  color: #4bf5b9;
  background: #004585;
  border: none;
  cursor: pointer;
  transition: .5s;
}

.main__button:hover {
  background: #00ca2c;
  color: #002046;
  filter: brightness(150%) drop-shadow(0px 0px 5px #4bf5b9);
}

.footer {
  position: relative;
  height: 80px;
  background: #004585;
  bottom: 0;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  height: 80px;
  list-style: none;
  color: #4bf5b9;
  font-size: 20px;
}

.footer__link {
  color: #4bf5b9;
  text-decoration: none;    
}

.footer__logo {
  height: 60px;
}
