html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 14px;
    color: #4bf5b9;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
.quiz {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #002046;
    height: 100vh;
}

.quiz__wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.quiz__header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz__logo {
    display: flex;
}

.quiz__title {
    padding-left: 5px;
    font-size: 3em;
    color: #FF8900;
}

.quiz__count {
    font-size: 1.5em;
}

.quiz__levels {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.levels__items {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.levels__item {
    width: calc(100%/5);
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
    background: #004585;
    transition: 1s;
}

.quiz__question {
    width: 100%;
    height: 150px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #004585;
}

.question__flag {
    width: 200px;
    height: 110px;
    background-image: url('../../assets/images/flags/flag.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.question__content {
    width: calc(100% - 250px);
}

.question__title {
    font-size: 2.5em;
    padding: 10px 0;
}

.question__player {
    width: 100%;
    display: flex;
    align-items: center;
}

.control__play {
    width: 90px;
    height: 55px;
    background: transparent;
    background-image: url('../../assets/images/svg/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: .5s;
    cursor: pointer;
}

.control__play:hover {
    filter: brightness(150%) drop-shadow(0px 0px 5px #A65900);
  }

.load {
    width: 90px;
    height: 55px;
    background-image: url('../../assets/images/hojpw.gif');
}

.question__progress {
    position: relative;
    padding: 0 15px;
    width: calc(100% - 90px - 30px);
    transition: .5s;
}

.progress__current {
    position: absolute;
    left: 20px;
    top: 20px;
}

.progress__length {
    position: absolute;
    left: calc(100% - 50px);
    top: 20px;
}

.question__volume,
.answers__volume {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  
  .volume__slider,
  .answers__slider {
    position: absolute;
    width: 0px;
    height: 15px;
    top: -10px;
    right: 36px;
    z-index: -5;
    background: #FF8900;
    transform: rotate(90deg);
    transform-origin: right;
    transition: 1s;
    cursor: pointer;
  }
  
  .slider-up {
    width: 100px;
    box-shadow: 0 0 20px #000a;
    z-index: 5;
  }

  .volume__set, 
  .answers__set {
    height: 100%;
    width: 25%;
    background: #004ffa;
  }

  .volume__icon,
  .answers__icon {
    transition: .5s;
  }
  
  .volume__icon:hover,
  .answers__icon:hover {
    filter: brightness(150%) drop-shadow(0px 0px 5px #A65900);
  }

.quiz__block {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    transition: 1s;
}

.quiz__answers {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    background: #004585;
}

.answers__items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    border-radius: 5px;
}

.answers__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5em;
    padding: 0 25px;
    border: 1px solid #002046;
    transition: .2s;
    color: aquamarine;
    cursor: pointer;
}

.answers__item:hover {
    filter: brightness(150%) drop-shadow(0px 0px 5px #004585);
    background-color: #004585;
    transform: scale(1.05);
}

.answers__item::before {
    content: '';
    width: 12px;
    height: 12px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #FF8900;;
}

.wrong::before {
    background-color: red;
}

.right::before {
    background-color: green;
}

.question__wrapper {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #004585;
}

.answers__block {
    position: relative;
    width: 100%;
    transition: 1s;
}

.show {
    left: 100px;
    opacity: 0;
}

.question__text {
    height: 350px;
    font-size: 1.5em;
}

.description__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.answers__flag {
    width: 180px;
    height: 90px;
    background-image: url('../../assets/images/flags/flag.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.answers__content {
    width: calc(100% - 250px);
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.answers__title {
    padding: 0 15px;
    font-size: 2.5em;
}

.answers__play {
    width: 90px;
    height: 55px;
    background: transparent;
    background-image: url('../../assets/images/svg/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.answers__play:hover {
    filter: brightness(150%) drop-shadow(0px 5px 5px #A65900);
}

.pause {
    width: 90px;
    height: 55px;
    background-image: url('../../assets/images/svg/stop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.answers__progress {
    position: relative;
    padding: 0 15px;
    width: calc(100% - 90px - 30px);
    cursor: pointer;
    transition: .5s;
}

.answers__progress:hover,
.question__progress:hover {
    filter: brightness(150%) drop-shadow(0px 0px 5px #A65900);
  }

.progress__bar,
.answers__bar {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: 0.5px solid transparent;
    background: #FF8900;
    cursor: pointer;
}

.progress__bar::-webkit-slider-thumb,
.answers__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 8px;
    background: #004ffa;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
  }

.answers__current {
    position: absolute;
    left: 20px;
    top: 20px;
}

.answers__length {
    position: absolute;
    left: calc(100% - 50px);
    top: 20px;
}

.description__item {
    list-style: none;
    line-height: 1.3em;
    font-size: 1.3em;
}

.description__text {
    font-weight: 600;
    color: white;
}

.quiz__button {
    display: inline-block;
    position: relative;
    right: calc(200px - 100%);
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 1.5em;
    color: #4bf5b9;
    background: #004585;
    border: none;
    transition: .5s;
}

.enabled {
    background: #00ca2c;
    color: #002046;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;
}

.enabled:hover {
    filter: brightness(150%) drop-shadow(0px 0px 5px #4bf5b9);
}
